<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appenders>
        <File name="file" fileName="${sys:user.home}/logs/hello.log">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %p %c (%L) - %m%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="ERROR">
            <appener-ref ref="file"/>
        </root>
        <logger name="demo.msa" level="DEBUG"/>
    </loggers>
</configuration>